<div id="<%= dom_id item_venda %>">
  <p>
    <strong>Venda:</strong>
    <%= item_venda.venda_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= item_venda.produto_id %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= item_venda.quantidade %>
  </p>

  <p>
    <strong>Preco unitario:</strong>
    <%= item_venda.preco_unitario %>
  </p>

</div>
