<p style="color: green"><%= notice %></p>

<%= render @item_venda %>

<div>
  <%= link_to "Edit this item venda", edit_item_venda_path(@item_venda) %> |
  <%= link_to "Back to item vendas", item_vendas_path %>

  <%= button_to "Destroy this item venda", @item_venda, method: :delete %>
</div>
