<p style="color: green"><%= notice %></p>

<%= render @medicamento %>

<div>
  <%= link_to "Editar Medicamento", edit_medicamento_path(@medicamento) %> |
  <%= link_to "Voltar", medicamentos_path %>

  <%= button_to "Deletar Medicamento", @medicamento, method: :delete %>
</div>
