<h1>Lista de Atendentes</h1>

<% @atendentes.each do |a| %>
  <p>
    Id: <%= a.id %> - Nome: <%= a.nome %> - Cpf: <%= a.cpf %> - Telefone: <%= a.telefone %>
  </p>
  <%= link_to "Deletar Atendente", a, method: :delete %>
  <%= link_to "Editar Atendente", edit_atendente_path(a) %>

<% end %>
