<p style="color: green"><%= notice %></p>

<%= render @atendente %>

  <strong>Nome: </strong>
  <%= @atendente.nome %>
  <br>

  <strong>Cpf: </strong>
  <%= @atendente.cpf%>
  <br>

  <strong>Telefone: </strong>
  <%= @atendente.telefone %>
  <br>


<div>
  <%= link_to "Editar Atendente", edit_atendente_path(@atendente) %> |
  <%= link_to "Voltar Atendente", atendentes_path %>

  <%= button_to "Deletar Atendente", @atendente, method: :delete %>
</div>
