<p style="color: green"><%= notice %></p>

<%= render @atendente %>

  <strong>Nome: </strong>
  <%= @atendente.nome %>
  <br>

  <strong>Cpf: </strong>
  <%= @atendente.cpf%>
  <br>

  <strong>Telefone: </strong>
  <%= @atendente.telefone %>
  <br>


<div>TABELA DE ATENDENTES</div>

<div id="atendentes">
  <% @atendentes.each do |atendente| %>
    <%= render atendente %>

    <br>
    <table>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cpf</th>
        <th>Telefone</th>
      </tr>

      <tr>
        <td><%= atendente.id %></td>
        <td>....</td>
        <td>....</td>
        <td>....</td>
      </tr>
    </table>
    

    <%= link_to "Mostrar", atendente %> |

    <%= link_to "Destroy", atendente, method: :delete, data: { confirm: "Are you sure?" } %>
  <br>
  
  <% end %>
</div>


<div>
  <%= link_to "Edit this atendente", edit_atendente_path(@atendente) %> |
  <%= link_to "Back to atendentes", atendentes_path %>

  <%= button_to "Destroy this atendente", @atendente, method: :delete %>
</div>
