<%- model_class = Venda -%>
<div class="d-flex justify-content-between align-items-center mb-4">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_venda_path,
              :class => 'btn btn-primary' %>
  <%= link_to "Download CSV", vendas_path(format: :csv), class: "btn btn-primary" %>
  <%= link_to "Download PDF", download_vendas_path, class: "btn btn-primary mb-3 ms-2" %>
</div>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:atendente_id) %></th>
      <th><%= model_class.human_attribute_name(:quantidade) %></th>
      <th><%= model_class.human_attribute_name(:medicamento_id) %></th>
      <th><%= model_class.human_attribute_name(:preco) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vendas.each do |venda| %>
      <tr>
        <td><%= link_to venda.id, venda_path(venda) %></td>
        <td><%= venda.total %></td>
        <td><%= venda.atendente_id %></td>
        <td><%= venda.quantidade %></td>
        <td><%= venda.medicamento_id %></td>
        <td><%= venda.preco %></td>
        <td><%=l venda.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      venda_path(venda), :class => 'btn btn-sm btn-outline-secondary' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_venda_path(venda), :class => 'btn btn-sm btn-outline-primary' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      venda_path(venda),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-sm btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
