<p style="color: green"><%= notice %></p>

<%= render @venda %>

  <p>
    <strong>Atendente:</strong>
    <%= @venda.atendente_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @venda.total %>
  </p>

<div>
  <%= link_to "Editar Venda", edit_venda_path(@venda) %> |
  <%= link_to "Voltar", vendas_path %>

  <%= button_to "Deletar Venda", @venda, method: :delete %>
</div>



